package views

templ template() {
	<!DOCTYPE html>
	<html>
		<head>
			<style>
  *{
    box-sizing: border-box;
  }
  html {
    display: grid;
    height: 100vh;
  }
  body {
    --gap: 1em;
    font-family: ui-sans-serif, system-ui;
    margin: 0;
  }
  </style>
			<meta charset="UTF-8">
			<meta name="viewport"/>
			<script src="https://cdn.tailwindcss.com"></script>
		</head>
		<body>
			{ children... }
			@Dock() {
			}
		</body>
	</html>
}

templ Home() {
	@template() {
		@Search()
	}
}
