package views

import "github.com/bxra2/7aweet/models"

templ SearchPage(foundItems []models.Term, query string) {
	@template() {
		<div class="flex flex-row">
			@SearchInfo(foundItems, query)
			@SearchDesc(query)
		</div>
	}
}
