package views

templ SearchDesc(query string) {
	@template() {
		<div dir="rtl" class="w-1/4">
			<h1 class="text-5xl">البحث عن كلمة</h1>
			{ query }
			<h3>عدد المصطلحات المترابطة</h3>
			<h3>من المعاجم الاتيه</h3>
			<h3>في المجالات الاتيه</h3>
		</div>
	}
}
